@import 'src/styles/_variables.scss';

.form-panel {
  max-width: 650px;
  margin: auto;
  background: $panels;
  padding: 72px 90px;
  box-shadow: $neon-shadow;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  background: url('~/src/assets/img/auth-bg.png');
  background-size: cover;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.tabs {
  &__wrapper {
    display: flex;
    margin-bottom: 42px;
  }
  &__tab {
    height: 36px;
    cursor: pointer;
    width: 50%;
    color: $light;
    font-size: 24px;
    border-bottom: 1px solid $line;

    &--active {
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background: $light;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: $neon-shadow;
        animation: opacity 0.2s linear;
      }
    }

    @keyframes opacity {
      0% { opacity: 0.5; }
      100% { opacity: 1; }
    }
    
    &-body {
      display: none;
      flex-direction: column;
      &--visible {
        display: flex;
      }
    }
  }
}