<div class="dialogue" *ngIf="chat">
  <div class="dialogue__avatar">
    <app-avatar [src]="chat.avatarUrl" [status]="chat.status"></app-avatar>
  </div>
  <div class="wrap">
    <div class="dialogue__block">
      <p class="dialogue__name">
        {{ chat?.name }}
      </p>
      <p class="dialogue__mail">
        {{ chat?.lastMessage }}
      </p>
    </div>
    <div class="addition">
      <p class="addition__clock">{{ chat?.time }}</p>
      <div class="addition__counter" *ngIf="chat.unreadedMessagesCount > 0">
        <p>{{ chat?.unreadedMessagesCount }}</p>
      </div>
    </div>
  </div>
</div>
