$primary: #26203F;
$dark: #1F1C2C;
$neon: #0C976D;
$light: #44D9A3;
$text: #ffffff;
$rounded-radius: 8px;
$placeholder: rgba(255, 255, 255, 0.25);
$gradient: radial-gradient(77.37% 146.67% at 95.49% 92.08%, #160F37 0%, #080613 100%);
$neon-shadow: 0px 2px 6px #0C976D,
0px -2px 6px #0C976D;
