<div class="block-messages" *ngFor="let message of messages">
  <div class="block-messages__avatar">
    <app-avatar [src]="message.user.photoURL"></app-avatar>
  </div>
  <div class="message">
    <div class="name-time">
      <p class="name-time__user-name">{{ message.user.name }}</p>
      <p class="name-time__time">
        {{ message.time }}
      </p>
    </div>
    <div class="message__text">
      <p
        [ngClass]="{
          sent: message.isCurrentUser,
          incoming: !message.isCurrentUser
        }"
        *ngIf="(message.images?.length && message.text) || message.text"
      >
        {{ message.text }}
        <br />
        <ng-template *ngFor="let img in message.images">
          <img
            *ngIf="img && message.text"
            src="{{ img }}"
            alt=""
            class="message__img"
          />
        </ng-template>
      </p>
      <ng-template *ngFor="let img in message.images">
        <img
          *ngIf="img && !message.text"
          src="{{ img }}"
          alt=""
          class="message__img"
        />
      </ng-template>
    </div>
  </div>
</div>
