<div class="wrap">
  <div class="avatar">
    <app-avatar
      [editable]="true"
      size="120px"
      contentId="setChangeAvatar"
    ></app-avatar>
  </div>
  <div class="settings-wrap">
    <div class="data">
      <p class="name description">Имя пользователя</p>
      <p class="data-name info">Персик</p>
    </div>
    <button class="btn">Изменить</button>
  </div>
  <div class="settings-wrap">
    <div class="data">
      <p class="mail description">Электронная почта</p>
      <p class="data-mail info">gmail</p>
    </div>
    <button class="btn">Изменить</button>
  </div>
  <div class="settings-wrap">
    <div class="data">
      <p class="tel description">Номер телефона</p>
      <p class="data-tel info">8999999999</p>
    </div>
    <button class="btn">Изменить</button>
  </div>
  <div class="settings-wrap">
    <div class="data">
      <p class="password description">Пароль</p>
      <p class="data-password info">***</p>
    </div>
    <button class="btn">Изменить</button>
  </div>
</div>
