@import 'src/styles/_variables.scss';

.header {
  max-width: 433px;
  width: 100%;
  height: 85px;
  background-color: $primary;
  border-bottom: 1px solid $line;
}

.messaging {
  background-image: $gradient;
  width: 100%;
}

.chat-page {
  display: flex;
}
